@import "tailwindcss";

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --dark-mode: class;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
}

.dark body {
    @apply bg-slate-950 text-slate-50;
}